body {
    margin: 0;
}

.header {
    background-color: bisque;
    padding: 40px;
}

.main {
    background-color: rgb(171, 228, 209);
    padding:40px;
}

.wrapper {
    max-width: 600px;
    margin:auto;
}